<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html">
<h:head>
	<title>Choose Page</title>
	<link href="./css/styles.css" rel="stylesheet" type="text/css" />
</h:head>
<h:body>
	<fieldset>
		<legend>Random Results Page</legend>
		<h:form>
			Click Random button to get one of three possible pages.
			<br />
			<h:commandButton value="Click Random" action="#{navi.choosePage}"></h:commandButton>
		</h:form>
	</fieldset>
</h:body>
</html>