<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html">
<h:head>
	<title>Hello Sir Project</title>
	<link href="./css/styles.css" rel="stylesheet" type="text/css" />
</h:head>
<h:body>
	<br />
	<fieldset>
		<legend>What is your name?</legend>
		<h:form>
			<h:inputText value="#{person.name}" />
			<br />
			<h:commandButton value="Enter" action="#{person.welcomeUser}" />
		</h:form>
	</fieldset>
</h:body>
</html>