<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html">
<h:head>
	<title>Hello Sir Project</title>
	<link href="./css/styles.css" rel="stylesheet" type="text/css" />
</h:head>
<h:body>
	<br />
	<fieldset>
		<legend>Wrong Name</legend>
		<h:form>
			You do not have a name ? Then you have never been exit.
			<a href="start-page.jsf">Try Again</a>
		</h:form>
	</fieldset>
</h:body>
</html>