<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html">
<h:head>
	<title>Hello Sir Project</title>
	<link href="./css/styles.css" rel="stylesheet" type="text/css" />
</h:head>
<h:body>
	<br />
	<fieldset>
		<legend>Welcome to our page!</legend>
		<h:form>
			Here we are. Welcome <h:outputText value="#{person.name}"/>
		</h:form>
	</fieldset>
</h:body>
</html>